.dockerignore
.git
.github
.mypy_cache
.pytest_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.eggs
.pytest_cache
.coverage
htmlcov
.tox
.nox
.venv
venv
ENV
env
docs
tests
examples
*.md
!README.md
